body {
	background-image: url("images/Background.png");
	background-size: cover;
}
.display--inlineBlock {
    display: inline-block;
}
.display--none {
	display: none;
}
.display--inline {
	display: inline;
}
.align--center {
	text-align: center;
}
.margin--bottom {
	margin-bottom: 16px;
}
.margin--top {
	margin-top: 16px;
}
.position--fixed {
    position: fixed;
}
.imageContainer {
	position: fixed;
	top: 44%;
}
.imageContainer .floorplan {
	width: 800px;
	position: fixed;
	left: 50%;
}
.imageContainer .floorplan10 {
	top: 76%;
	transform: translate(-50%, -24%);
}
.imageContainer .floorplan11 {
	top: 52%;
	transform: translate(-50%, -48%);
}
.imageContainer .label {
	width: 100px;
	position: fixed;
	left: 13%;
}
.imageContainer .label10 {
	top: 68%;
	transform: translate(-87%, -32%);
}
.imageContainer .label11 {
	top: 39%;
	transform: translate(-87%, -61%);
}
.guide {
	width: 100%;
	position: fixed;
	left: 50%;
	top: 36%;
	transform: translate(-50%,-64%);
}
.guide img {
	height: 30px;
}
.guide-ul {
    list-style:none;
}
.person {
	border-radius: 10px;
	z-index: 100;
}
.person .light {
	width: 80%;
	opacity: 0.7;
}