.display--inlineBlock {
    display: inline-block;
}
.display--none {
	display: none;
}
.display--inline {
	display: inline;
}
.align--center {
	text-align: center;
}
.margin--bottom {
	margin-bottom: 16px;
}
.margin--top {
	margin-top: 16px;
}
.position--absolute {
    position: absolute;
}
.imageContainer {
	position: fixed;
	/*max-width: 800px;*/
}
.imageContainer img {
	/*width: 800px;*/
}
.guide-ul {
    list-style:none;
}
.person {
	border-radius: 10px;
	z-index: 100;
	width: 20px;
	height: 20px;
}