body {
	background-image: url("images/Background.png");
	background-size: cover;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}
.display--inlineBlock {
    display: inline-block;
}
.display--none {
	display: none;
}
.display--inline {
	display: inline;
}
.align--center {
	text-align: center;
}
.margin--bottom {
	margin-bottom: 16px;
}
.margin--top {
	margin-top: 16px;
}
.position--fixed {
    position: fixed;
}
.imageContainer {
	position: fixed;
	top: 44%;
}
.imageContainer .floorplan {
	width: 800px;
	position: fixed;
	left: 50%;
}
.imageContainer .floorplan10 {
	top: 76%;
	transform: translate(-50%, -24%);
}
.imageContainer .floorplan11 {
	top: 52%;
	transform: translate(-50%, -48%);
}
.imageContainer .label {
	width: 100px;
	position: fixed;
	left: 13%;
}
.imageContainer .label10 {
	top: 68%;
	transform: translate(-87%, -32%);
}
.imageContainer .label11 {
	top: 38.5%;
	transform: translate(-87%, -61.5%);
}
.guide {
	width: 100%;
	position: fixed;
	left: 50%;
	top: 34%;
	transform: translate(-50%,-66%);
}
.guide img {
	height: 30px;
}
.guide-ul {
    list-style:none;
}
.person {
	border-radius: 10px;
	z-index: 100;
}
.person .light {
	width: 80%;
	opacity: 0.85;
}
.popup {
	z-index: 101;
	background-color: #000;
	opacity: 0.9;
	border-radius: 3px;
	font-size: 12px;
	width: auto;
}
.popup.Carlough {
	border: 1px solid #FF9F00;
}
.popup.Ruiz {
	border: 1px solid #BD10E0;
}
.popup.Howard {
	border: 1px solid #4A90E2;
}
.popup.Bishop {
	border: 1px solid #F8E71C;
}
.popup.Weaver {
	border: 1px solid #50E3C2;
}
.popupText {
	text-align: center;
	padding: 16px;
}
#month, #day {
	width: 20px !important;
}
#year, #time {
	width: 40px !important;
}